<div class="grid-container">
  <div *ngFor="let row of rows; let rowIndex = index" class="row">
    <div
      *ngFor="let cell of cells; let colIndex = index" class="cell" data-id="{{rowIndex +':'+ colIndex}}"
      [ngClass]="getCellClass(rowIndex +':'+ colIndex)"
      [style.border]="isDevMode ? '1px solid black' : 'none'"
      (click)="placeBrick(rowIndex +':'+ colIndex)"
      >
      <div *ngIf="isDevMode">
        {{rowIndex +':'+ colIndex}}
      </div>
    </div>
  </div>
</div>

<button (click)="print('1')">Print</button>
<button (click)="move()">Move</button>
<!-- <button (click)="setDirection(1, 1)">right-up(1:1)</button>
<button (click)="setDirection(1, -1)">right-down(1:-1)</button>
<button (click)="setDirection(-1, 1)">left-up(-1:1)</button>
<button (click)="setDirection(-1, -1)">left-down(-1:-1)</button> -->
<button (click)="stop()">stop</button>
<button (click)="start()">start</button>
<button (click)="toggleDevMode()">devMode</button>
