.grid-container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.row {
  display: flex;
  flex-direction: row;
  border: none;
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: bisque;
}

.wall{
  background-color: rgb(84, 90, 107);
}

.ball {
  background-color: rgb(115, 115, 237);
  border-radius: 50%;
}
